<center> <img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg" align="center" width="960" height="480"/> </center>

<center><font color=#555555><font size=6> MAF1731 - Microstructure and Trading Systems </font> <br> <br>
    
<center><font color=#555555><font size=5> B.Eng Financial Engineering </font> <br> <br> <br> <br>

<center><font color=#555555><font size=6> I.F. ALEJANDRO MICHEL MARRÓN </font> <br> <br>
   
<center> <font color= #555555> <font size = 4> Jun 2021 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/HKael/myst_amm_lab1'>Link</a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Lab 1 </font> <br> <br> <font color= #555555> <font size = 5> NAFTRAC Capital Investment  </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

<font color= #555555> <font size = 6> Abstract </font>

<font color= #6B6B6B> <font size = 4>  
    
#### Investors have two main investment strategies that can be used to generate a return on their investment accounts:<a href='https://www.investopedia.com/ask/answers/040315/what-difference-between-passive-and-active-portfolio-management.asp#:~:text=Active%20portfolio%20management%20focuses%20on,order%20to%20achieve%20similar%20results'> active portfolio management and passive portfolio management.</a> 

- Active portfolio management focuses on outperforming the market in comparison to a specific benchmark such as the Standard & Poor's 500 Index.
- Passive portfolio management mimics the investment holdings of a particular index in order to achieve similar results.

#### In this document, the most optimal way to invest between this two options is explored with a practical case.

<hr style="border:0.02in solid gray"> </hr>

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introduction </font>

<hr style="border:0.02in solid gray"> </hr>

#### In order to make a comparison between a passive investment strategy and an active investment strategy,basic performance attribution measures were considered. Which are the following:

- <a href='https://www.investopedia.com/terms/y/yield.asp'>Monthly yield</a>
- <a href='https://www.investopedia.com/terms/c/cumulativereturn.asp'>Cumulative monthly return</a>
- <a href='https://www.investopedia.com/terms/s/sharperatio.asp'>Sharpe ratio</a>

<hr style="border:0.02in solid gray"> </hr>

<br>

# <font color= #6B6B6B> 2. Install/Load Packages and Depedencies </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

In [35]:
import numpy as np
import pandas as pd
import pandas_datareader as web
import yfinance as yf
import datetime 
import time
import functions as fn
import data 
import matplotlib.pyplot as plt
import main
pd.set_option('display.float_format', '{:.4f}'.format)
from main import df_pasiva_a
from main import df_pasiva_b
from main import df_activa
from main import dates
from main import global_tickers
from main import global_prices
from main import precios
from data import files
from data import data_files
from data import data

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 2.1 Python Packages </font> <font color= #555555>

<hr style="border:0.02in solid gray"> </hr>

In order to run this notebook, it is necessary to have installed and/or have the _requirements.txt_ file with the following:

- pandas 
- numpy
- jupyter
- yfinance 
- datetime
- time
- pandas_datareader
- dask

## <font color= #6B6B6B> 2.2 Files Dependencies </font> <font color= #555555>

The following are the file dependencies that are needed to run this notebook:

- files/a/precios.csv : Precios históricos prepandemia
- files/b/precios.csv : Precios históricos postpandemia

<hr style="border:0.02in solid gray"> </hr>

<br>

# <font color= #6B6B6B> 3. Data Description </font>

<hr style="border:0.02in solid gray"> </hr>

In [26]:
print(files)

['NAFTRAC_20180131', 'NAFTRAC_20180228', 'NAFTRAC_20180328', 'NAFTRAC_20180430', 'NAFTRAC_20180531', 'NAFTRAC_20180629', 'NAFTRAC_20180731', 'NAFTRAC_20180831', 'NAFTRAC_20180928', 'NAFTRAC_20181031', 'NAFTRAC_20181130', 'NAFTRAC_20181231', 'NAFTRAC_20190131', 'NAFTRAC_20190228', 'NAFTRAC_20190329', 'NAFTRAC_20190430', 'NAFTRAC_20190531', 'NAFTRAC_20190628', 'NAFTRAC_20190731', 'NAFTRAC_20190830', 'NAFTRAC_20190930', 'NAFTRAC_20191031', 'NAFTRAC_20191129', 'NAFTRAC_20191231', 'NAFTRAC_20200131', 'NAFTRAC_20200228', 'NAFTRAC_20200331', 'NAFTRAC_20200430', 'NAFTRAC_20200529', 'NAFTRAC_20200630', 'NAFTRAC_20200731', 'NAFTRAC_20200831', 'NAFTRAC_20200930', 'NAFTRAC_20201030', 'NAFTRAC_20201130', 'NAFTRAC_20201231', 'NAFTRAC_20210129', 'NAFTRAC_20210226', 'NAFTRAC_20210331']

In [42]:
len(data_files)

39

In [38]:
print(dates)

{'i_dates': ['2018-01-31', '2018-02-28', '2018-03-28', '2018-04-30', '2018-05-31', '2018-06-29', '2018-07-31', '2018-08-31', '2018-09-28', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30', '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30', '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31', '2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30', '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31', '2021-01-29', '2021-02-26', '2021-03-31'], 't_dates': ['31-01-2018', '28-02-2018', '28-03-2018', '30-04-2018', '31-05-2018', '29-06-2018', '31-07-2018', '31-08-2018', '28-09-2018', '31-10-2018', '30-11-2018', '31-12-2018', '31-01-2019', '28-02-2019', '29-03-2019', '30-04-2019', '31-05-2019', '28-06-2019', '31-07-2019', '30-08-2019', '30-09-2019', '31-10-2019', '29-11-2019', '31-12-2019', '31-01-2020', '28-02-2020', '31-03-2020', '30-04-2020', '29-05-2020', '30-06-2020', '31-07-2020', '31-08-2020', '30-09-2020', '30-10-2020', '30-11-2020', '31-12-2020', '29-01-2021', '26-02-2021', '31-03-2021']}

In [40]:
print(global_tickers)

['AC.MX', 'ALFAA.MX', 'ALPEKA.MX', 'ALSEA.MX', 'AMXL.MX', 'ASURB.MX', 'BBAJIOO.MX', 'BIMBOA.MX', 'BOLSAA.MX', 'CEMEXCPO.MX', 'CUERVO.MX', 'ELEKTRA.MX', 'FEMSAUBD.MX', 'GAPB.MX', 'GCARSOA1.MX', 'GCC.MX', 'GENTERA.MX', 'GFINBURO.MX', 'GFNORTEO.MX', 'RA.MX', 'GMEXICOB.MX', 'GMXT.MX', 'GRUMAB.MX', 'IENOVA.MX', 'KIMBERA.MX', 'LABB.MX', 'LALAB.MX', 'LIVEPOLC-1.MX', 'MEGACPO.MX', 'ORBIA.MX', 'OMAB.MX', 'ORBIA.MX', 'PE&OLES.MX', 'PINFRA.MX', 'Q.MX', 'RA.MX', 'TLEVISACPO.MX', 'VESTA.MX', 'VOLARA.MX', 'WALMEX.MX', '\xa0.MX']

In [23]:
data.head()

,Ticker,Nombre,Clase de activo,Peso (%),Precio,Acciones,Valor de mercado,Valor nominal,Sector,Unnamed: 9,ISIN,Bolsa de valores,Ubicación,Moneda,Mercado de divisas,Tipo de Cambio
0,GMEXICOB,GRUPO MEXICO B,Equity,0.1183,107.46,"58,668,648.00","6,304,532,914.08","6,304,532,914.08",Materiales,2643674,MXP370841019,Bolsa Mexicana De Valores,México,MXN,MXN,1.0000
1,AMXL,AMERICA MOVIL L,Equity,0.1142,13.96,"435,876,708.00","6,084,838,843.68","6,084,838,843.68",Comunicación,2667470,MXP001691213,Bolsa Mexicana De Valores,México,MXN,MXN,1.0000
2,WALMEX,WALMART DE MEXICO V,Equity,0.1126,64.47,"93,076,189.00","6,000,621,904.83","6,000,621,904.83",Productos básicos de consumo,BW1YVH8,MX01WA000038,Bolsa Mexicana De Valores,México,MXN,MXN,1.0000
3,FEMSAUBD,FOMENTO ECONOMICO MEXICANO,Equity,0.0988,154.09,"34,162,926.00","5,264,165,267.34","5,264,165,267.34",Productos básicos de consumo,2242059,MXP320321310,Bolsa Mexicana De Valores,México,MXN,MXN,1.0000
4,GFNORTEO,GPO FINANCE BANORTE,Equity,0.0973,115.13,"45,050,217.00","5,186,631,483.21","5,186,631,483.21",Financieros,2421041,MXP370711014,Bolsa Mexicana De Valores,México,MXN,MXN,1.0000

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> 4. Passive investing </font>

<hr style="border:0.02in solid gray"> </hr>

In [43]:
# PASIVA 1
df_pasiva_a

                Capital  Rendimiento  Rendimiendo Acumulado
Timestamp
31-01-2018  953906.0000       0.0000                 0.0000
28-02-2018  901840.8056      -0.0521                -0.0521
28-03-2018  929512.1428      -0.0244                -0.0752
30-04-2018 1000485.8883       0.0466                -0.0321
31-05-2018  882874.1778      -0.0710                -0.1009
29-06-2018 1030054.3820       0.0761                -0.0324
31-07-2018  991956.7294       0.0381                 0.0044
31-08-2018  956392.7544       0.0025                 0.0069
28-09-2018  949527.2144      -0.0044                 0.0025
31-10-2018  848004.9500      -0.1059                -0.1037
30-11-2018  912930.9333      -0.0410                -0.1404
31-12-2018  947753.9813      -0.0062                -0.1457
31-01-2019 1013969.1150       0.0601                -0.0944
28-02-2019  935089.0586      -0.0188                -0.1114
29-03-2019  968206.9571       0.0143                -0.0987
30-04-2019  975018.0796       0.0211                -0.0797
31-05-2019  918225.9655      -0.0357                -0.1125
28-06-2019  964690.1592       0.0108                -0.1029
31-07-2019  913945.7371      -0.0400                -0.1388
30-08-2019  998300.4065       0.0444                -0.1005
30-09-2019  967782.7197       0.0139                -0.0881
31-10-2019  973126.7411       0.0192                -0.0705
29-11-2019  949834.9729      -0.0041                -0.0743
31-12-2019  972541.7259       0.0186                -0.0571
31-01-2020  963895.1404       0.0100                -0.0476

In [45]:
df_pasiva_a.describe()

           Capital  Rendimiento  Rendimiendo Acumulado
count      25.0000      25.0000                25.0000
mean   952794.6695      -0.0011                -0.0738
std     41477.0969       0.0415                 0.0456
min    848004.9500      -0.1059                -0.1457
25%    929512.1428      -0.0244                -0.1029
50%    956392.7544       0.0025                -0.0797
75%    973126.7411       0.0192                -0.0476
max   1030054.3820       0.0761                 0.0069

In [3]:
# PASIVA 2
df_pasiva_b

                 Capital  Rendimiento  Rendimiendo Acumulado
Timestamp
28-02-2020  9.539060e+05     0.000000               0.000000
31-03-2020  8.120022e+05    -0.141904              -0.141904
30-04-2020  1.022605e+06     0.068699              -0.082953
29-05-2020  9.498217e+05    -0.004084              -0.086699
30-06-2020  1.012228e+06     0.058322              -0.033433
31-07-2020  9.524649e+05    -0.001441              -0.034826
31-08-2020  9.607853e+05     0.006879              -0.028186
30-09-2020  9.756084e+05     0.021702              -0.007095
30-10-2020  9.537261e+05    -0.000180              -0.007274
30-11-2020  1.095235e+06     0.141329               0.133027
31-12-2020  1.011293e+06     0.057387               0.198048
29-01-2021  9.407716e+05    -0.013134               0.182313
26-02-2021  9.951183e+05     0.041212               0.231039
31-03-2021  1.015050e+06     0.061144               0.306309

In [44]:
df_pasiva_b.describe()

           Capital  Rendimiento  Rendimiendo Acumulado
count      14.0000      14.0000                14.0000
mean   975044.0182       0.0211                 0.0449
std     62889.5242       0.0629                 0.1378
min    812002.2249      -0.1419                -0.1419
25%    952780.1944      -0.0011                -0.0345
50%    968196.8706       0.0143                -0.0072
75%   1011994.5756       0.0581                 0.1700
max   1095235.1620       0.1413                 0.3063

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> 5. Active investment </font>

<hr style="border:0.02in solid gray"> </hr>

In [8]:
df_activa.head(4)

                  Capital  Rendimiento  Rendimiendo Acumulado
Timestamp
30-01-2018  953906.000000     0.000000               0.000000
31-01-2018  957044.538081     0.003139               0.003139
01-02-2018  956310.824408     0.002405               0.005551
02-02-2018  949501.660998    -0.004404               0.001122

In [9]:
df_activa.tail(4)

                  Capital  Rendimiento  Rendimiendo Acumulado
Timestamp
26-03-2021  961717.835573     0.007812               0.202043
29-03-2021  961502.737697     0.007597               0.211174
30-03-2021  957449.167779     0.003543               0.215466
31-03-2021  940673.954299    -0.013232               0.199382

In [14]:
df_activa["Capital"].describe()

count       795.0000
mean     954204.3705
std       11795.2848
min      891466.2017
25%      947914.3245
50%      953926.0058
75%      960378.6614
max     1010066.0959
Name: Capital, dtype: float64

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> 6. Historical Operation Registry </font>

<hr style="border:0.02in solid gray"> </hr>

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> 7. Performance Attribution Measures </font>

<br>

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> <font size = 6> 8. References </font>

<hr style="border:0.02in solid gray"> </hr>

-[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).

-JAMES CHEN. (2021). Yield. 06-06-2021, de Investopedia Sitio web: https://www.investopedia.com/terms/y/yield.asp

-NICK LIOUDIS. (2020). Passive vs. Active Portfolio Management: What's the Difference?. 06-06-2021, de Investopedia Sitio web: https://www.investopedia.com/ask/answers/040315/what-difference-between-passive-and-active-portfolio-management.asp

-JASON FERNANDO. (2021). Sharpe Ratio. 06-06-2021, de Investopedia Sitio web: https://www.investopedia.com/terms/s/sharperatio.asp

<br>